<h1>Access</h1>
<%= form_for @preference, url: admin_preference_path(@preference) do |f| %>
  <div>
    <%= f.label :allow_create_artists %>:
    True <%= f.radio_button :allow_create_artists, true %>
    False <%= f.radio_button :allow_create_artists, false %>
  </div><br>
  <div>
    <%= f.label :allow_create_songs %>:
    True <%= f.radio_button :allow_create_songs, true %>
    False <%= f.radio_button :allow_create_songs, false %>
  </div><br>
  <div>
    <%= f.label :song_sort_order %>:
    DESC <%= f.radio_button :song_sort_order, "DESC" %>
    ASC <%= f.radio_button :song_sort_order, "ASC" %>
  </div><br>
  <div>
    <%= f.label :artist_sort_order %>:
    DESC <%= f.radio_button :artist_sort_order, "DESC" %>
    ASC <%= f.radio_button :artist_sort_order, "ASC" %>
  </div><br>
  <%= f.submit %>
<% end %>
